@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: nnl;
  src: url('../assets/fonts/nnl.ttf');
}

@font-face {
  font-family: nnb;
  src: url('../assets/fonts/nnb.ttf');
}

.nnb {
  font-family: 'nnb';
}

.nnn {
  font-family: 'nnn';
}

@font-face {
  font-family: 'lml';
  src: url('../assets/fonts/LEMONMILK-Light.otf');
}

.lml {
  font-family: 'lml';
}

@font-face {
  font-family: 'lmb';
  src: url('../assets/fonts/LEMONMILK-Bold.otf');
}

.lmb {
  font-family: 'lmb';
}

@font-face {
  font-family: 'co';
  src: url('../assets/fonts/CameraObscuraDEMO.otf');
}

.co {
  font-family: 'co';
}


body {
  color: white;
  background-color: #003545;
}

.map-elem {
  transition: 0.3s ease;
  cursor: pointer;
}

.map-elem:hover {
  filter: invert(100%);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mc {
  color: #003545;
}

p, pre, a{
  color: black;
}

@keyframes navigator-open-anim {
  0% {
    transform: translateX(0);
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(50vw);
  }
}

@keyframes navigator-close-anim {
  0% {
    transform: translateX(50vw);
    opacity: 1
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}

.navigator-open {
  animation: navigator-open-anim 0.5s ease forwards;
}

.navigator-close {
  animation: navigator-close-anim 0.5s ease forwards;
}